<!DOCTYPE html>
<html lang="en" >
<html xmlns = "http://www.w3.org/1999/xhtml">
<head>
    <title>AI Melodies Composer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" media='screen' href="{{ url_for('static', filename='css/particles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggle.css') }}">
</head>

<body style = "background-color: #1F2439;">

  	<div id="particles-js"></div>
	<div class="text text-center" style="min-width: 700px;">
		<div id = "title">
    	<h1 style="display: inline; color: #5382CA;">AI</h1> <h2 style="display: inline">Melodies Composer</h2>
    	</div>
    	<br>
    	<div class = "block text-center" style="min-width: 385px;">
    		<h4>Step 1: Choose your Model's Hyperparameters</h4>
			<div class="toggle_radio">
				<input type="radio" class="toggle_option" id="first_toggle" name="toggle_option"  value="F" 
				onclick="change()">
				<input type="radio" checked= class="toggle_option" id="second_toggle" name="toggle_option" value="A" 
				onclick="change()">
				<label for="first_toggle"><p>FFLSTM</p></label>
				<label for="second_toggle"><p>Autoencoder</p></label>
				<div class="toggle_option_slider"></div>
			</div>
        	<div class="toggle_radio">
				<input type="radio" class="toggle_option_prm" id="first_toggle_prm" name="toggle_option_prm" value="256" 
				onclick="change()">
				<input type="radio" checked class="toggle_option_prm" id="second_toggle_prm" name="toggle_option_prm" value="512" 
				onclick="change()">
				<label for="first_toggle_prm"><p>Small</p></label>
				<label for="second_toggle_prm"><p>Big</p></label>
				<div class="toggle_option_slider_prm"></div>
			</div>
        	<h4>Step 2: Choose what your Models had seen</h4>
	        <div class="toggle_radio_dts">
		    	<input type="radio" checked class="toggle_option_dts" id="first_toggle_dts" name="toggle_option_dts" value="P" 
		    	onclick="change()">
		    	<input type="radio" class="toggle_option_dts" id="second_toggle_dts" name="toggle_option_dts" value="G" 
		    	onclick="change()">
		    	<input type="radio" class="toggle_option_dts" id="third_toggle_dts" name="toggle_option_dts" value="M" 
		    	onclick="change()">
		    	<label for="first_toggle_dts"><p>Piano</p></label>
		    	<label for="second_toggle_dts"><p>Guitar</p></label>
		    	<label for="third_toggle_dts"><p>Mixed</p></label>
		    	<div class="toggle_option_slider_dts"></div>
		  	</div>
		  	<div class="toggle_radio">
		    	<input type="radio" checked class="toggle_option_balanced" id="first_toggle_balanced" name="toggle_option_balanced" value="I"
		    	onclick="change()">
		    	<input type="radio" class="toggle_option_balanced" id="second_toggle_balanced" name="toggle_option_balanced" value="B"
		    	onclick="change()">
		    	<label for="first_toggle_balanced"><p>Initial Data</p></label>
		    	<label for="second_toggle_balanced"><p>Balanced Data</p></label>
		    	<div class="toggle_option_slider_balanced"></div>
		  	</div>
	        <h4>Step 3: Choose initial melody</h4>
	        <div class="toggle_radio">
		    	<input type="radio" checked class="toggle_option_init" id="first_toggle_init" name="toggle_option_init" value="P" 
		    	onclick="change()">
		    	<input type="radio" class="toggle_option_init" id="second_toggle_init" name="toggle_option_init" value="G" 
		    	onclick="change()">
		    	<label for="first_toggle_init"><p>Piano</p></label>
		    	<label for="second_toggle_init"><p>Guitar</p></label>
		    	<div class="toggle_option_slider_init"></div>
		  	</div>
        	<h4>Step 4: Roll it!</h4>
	        <!-- playbtn() -->
	        <label class="inline-text-center">
		        <button type="button" class = 'btn-sm-right-block' onclick="change_melodies()" title="Change initial Melodie">
		            <img id = 'change_btn' src="{{ url_for('static', filename='images/change.png') }}" alt="Play Button"  height="20" width="20">
		        </button>
	        </label>
        	<label class="inline">
		        <button type="button" class = 'center-block' onclick = 'playbtn()'>
		            <img id = 'play_btn' src="{{ url_for('static', filename='images/play.png') }}" alt="Play Button"  height="70" width="70">
		        </button>
		    </label>
        	<label class="inline">
        		<a id = "download" href="{{ url_for('static', filename='samples/APIP512_974316_0.527.mp3')}}" download 
        		title="Download midi file">
            		<img id = 'play_btn' src="{{ url_for('static', filename='images/dwn.png') }}" alt="Download"  height="20" width="20">
   				</a>
        	</label>
		</div>

	    <div id = "content" style = "line-height: 0.9">
	    	<br>
	        <p>For more details about our work press <a href=''>here!</a></p>
	        <p>See the code on <a href='https://github.com/geofila/Music-Generation'>Github</a>.</p>
	        <p>You can help our Ai to be even smarter! Just press <a href="/vote">Here!</a></p>
	    </div>
	</div>

	<audio id = "melodies" controls loop style="display:none;">
  		<source src="{{ url_for('static', filename='samples/APIP512_974316_0.527.mp3')}}" type="audio/mpeg">
  		Your browser does not support the audio element.
	</audio> 

	<div class="footer">
  		<button id = "help" type="button" onclick="help()"><span class="glyphicon glyphicon-info-sign"></span></button>
	</div>

	<!-- The Modal -->
  	<div class="modal fade" id="myModal">
    	<div class="modal-dialog modal-dialog-centered">
      		<div class="modal-content">
      			<br>
        		<!-- Modal Header -->
        		<div class="modal-header">
          			<h3 class="modal-title text-center">Καλώς Ηρθές!</h3>
          			<button type="button" class="close" data-dismiss="modal">&times;</button>
        		</div>
        
		        <!-- Modal body -->
		        <div class="modal-body">
			        <h4>
			       		Η εφαρμογή αυτή συνθέτει μελωδίες με την χρήση αλγορίθμων βαθιάς μηχανικής μάθησης.
			       		Συγκεκριμένα έχουν εκπαιδευτεί 2 διαφορετικές αρχιτεκτονικές (ένα FFLSTM και ένας Autoencoder) η κάθε μια με 2 διαφορετικούς αριθμούς παραμέτρων (ο ένας διπλάσιος από τον άλλο). Η επιλογή αυτών των παραμέτρων γίνεται στο πρώτο βήμα από τα 2 πρώτα sliders όπου αρχικά επιλέγεται ο τύπος του μοντέλου και στην συνέχεια το μέγεθος του.
			       		<br><br>
			       		Κάθε ένα από τα παραπάνω μοντέλα (συνολικά 4) έχει εκπαιδευτεί με παρτιτούρες είτε μόνο μόνο πιάνο είτε μόνο από κιθάρα είτε και από τα δυο αυτά όργανα. Επίσης μιας και οι περισσότερες νότες επιλαμβάνονται πολλές φορές στα κομμάτια έχει γίνει και κάποια κανονικοποίηση νοτών ώστε να αποφευχθούν φαινόμενα πόλωσης και τα μοντέλα έχουν εκπαιδευτεί και με αυτά τα δεδομένα. Η επιλογή του οργάνου εκπαίδευσης έχει πολύ μεγάλη σημασία στο τι τελικά έχει μάθει κάθε μοντέλο. Η επιλογή των δεδομένων εκπαίδευσης γίνεται στο δεύτερο βήμα όπου επιλέγεται με τι δεδομένα έχει εκπαιδευτεί κάθε μοντέλο και αν τα δεδομένα αυτά είναι τα αρχικά ή αν έχει γίνει κάποια κανονικοποίηση σε αυτά. 
			       		<br><br>
			       		Για την παραγωγή κάθε μοντέλου στο σύστημα δίνεται μια αρχική ακολουθία νοτών. Το όργανο της αρχικής ακολουθίας επιλέγεται στο βήμα 3. Η επιλογή αυτή σε συνδυασμό με τις επιλογές του βήματος 2 μπορεί να οδηγήσουν σε πολύ ενδιαφέροντα αποτελέσματα (για παράδειγμα ένα μοντέλο που έχει δει μόνο πιάνο πως θα συνεχίσει μια ακολουθία κιθάρας?). Μπορείς πειραματιστείς με όλα τα μοντέλα καθώς και με συνδυασμούς τους.
			       	</h4>
			       	<br>
		       		<div style="text-align: center;">
		       			<h4>Για να αλλάξει η αρχική ακολουθία (και συνεπώς το κομμάτι) πάτα το <img id = 'play_btn' src="{{ url_for('static', filename='images/changeb.png') }}" alt="Play Button"  height="30" width="30">
		       		 	<br>
		       		 	Πάτα το <img id = 'play_btn' src="{{ url_for('static', filename='images/playb.png') }}" alt="Play Button"  height="30" width="30"> και φύγαμε!
		       		 	</h4>
		       		 </div>
		       		 <br>
		          	<div style="text-align: center;">
		                <button type="button" class="btn btn-default" onclick = "start()">Ας Ξεκινήσoυμε
		                     <span class="glyphicon glyphicon-menu-right"></span>
		                </button>
		            </div>
       			</div>
      		</div>
    	</div>
  	</div>

<script src='https://cldup.com/S6Ptkwu_qA.js'></script>
<script src="{{ url_for('static', filename='js/particles.js') }}"></script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
  
<script>
var audio = document.getElementById('melodies');
var img = document.getElementById('play_btn');
var files = [];

var source = 'static/samples/AGIG256_294592_1.3616.mp3';

window.onload = function () {
	$.ajax({
        data : {
        	// network : $("input[name='model']:checked").val(),
        },
        url: "/get_melodies",
        type: "POST",
        success: function(resp){
        	files = resp.files;
        }
    });
};
	
function help(){
	$('#myModal').modal('show'); 
}

function start(){
	$('#myModal').modal('hide');
}

</script>
</body>
</html>