<!DOCTYPE html>
<html lang="en" >
<html xmlns = "http://www.w3.org/1999/xhtml">
<head>
    <title>AI Music Generation Survey</title>
    <link rel="icon" type="image/x-icon" href="static/images/music-note.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/particles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggle.css') }}">
</head>

<body style = "background-color: #1F2439;" >
    <div id="particles-js"></div>

    <div class="text text-center" style="min-width: 600px;">
        <div id = "title">
            <h2 style="display: inline">Help us make our </h2>
            <h1 style="display: inline; color: #5382CA;">AI Piano Music </h1> <h2 style="display: inline"> even better!</h2>
        </div>
        <br>
        <div class = "block text-center" style="min-width: 300px;">
            <div class="progress progress-moved">
                <div class="progress-bar">
                    <span class="percentage"></span>
                </div>
              </div>
        <h3>Just listen and answer the questions!</h3>
        
        <button type="button" class = 'btn-sm-block' onclick="playbtn()">
            <img id = 'play_btn' src="{{ url_for('static', filename='images/play.png') }}" alt="Play Button"  height="50" width="50">
        </button>
        <!-- Basic Music Knowledge Question -->
        <div id="basic-question">
            <br>
            <h4>Have you heard similar music before?</h4>
            <label>
                <input type="radio" name="similar_music" value="1" onclick="change_similar_music()">
                <img id = "s1" src="{{ url_for('static', filename='images/1.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="similar_music" value="2" onclick="change_similar_music()">
                <img id = "s2" src="{{ url_for('static', filename='images/2.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="similar_music" value="3" onclick="change_similar_music()">
                <img id = "s3" src="{{ url_for('static', filename='images/3.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="similar_music" value="4" onclick="change_similar_music()">
                <img id = "s4" src="{{ url_for('static', filename='images/4.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="similar_music" value="5" onclick="change_similar_music()">
                <img id = "s5" src="{{ url_for('static', filename='images/5.png') }}" weight= "40" height= "40">
            </label>
        </div>
        <div class="common-question">
            <br>
            <h4>Does this music bring emotions in your mind?</h4>
            <label>
                <input type="radio" name="emotions" value="1" onclick="change_emotions()">
                <img id = "e1" src="{{ url_for('static', filename='images/1.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="emotions" value="2" onclick="change_emotions()">
                <img id = "e2" src="{{ url_for('static', filename='images/2.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="emotions" value="3" onclick="change_emotions()">
                <img id = "e3" src="{{ url_for('static', filename='images/3.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="emotions" value="4" onclick="change_emotions()">
                <img id = "e4" src="{{ url_for('static', filename='images/4.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="emotions" value="5" onclick="change_emotions()">
                <img id = "e5" src="{{ url_for('static', filename='images/5.png') }}" weight= "40" height= "40">
            </label>
        </div>
        <!-- Pro Music Knowledge Questions -->
        <div class="pro-question">
            <br>
            <h4>The melody progresses smoothly.</h4>
            <label>
                <input type="radio" name="melody" value="1" onclick="change_melody()">
                <img id = "me1" src="{{ url_for('static', filename='images/1.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="melody" value="2" onclick="change_melody()">
                <img id = "me2" src="{{ url_for('static', filename='images/2.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="melody" value="3" onclick="change_melody()">
                <img id = "me3" src="{{ url_for('static', filename='images/3.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="melody" value="4" onclick="change_melody()">
                <img id = "me4" src="{{ url_for('static', filename='images/4.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="melody" value="5" onclick="change_melody()">
                <img id = "me5" src="{{ url_for('static', filename='images/5.png') }}" weight= "40" height= "40">
            </label>
        </div>
        <div class="pro-question">
            <br>
            <h4>The harmony is pleasant.</h4>
            <label>
                <input type="radio" name="harmony" value="1" onclick="change_harmony()">
                <img id = "h1" src="{{ url_for('static', filename='images/1.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="harmony" value="2" onclick="change_harmony()">
                <img id = "h2" src="{{ url_for('static', filename='images/2.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="harmony" value="3" onclick="change_harmony()">
                <img id = "h3" src="{{ url_for('static', filename='images/3.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="harmony" value="4" onclick="change_harmony()">
                <img id = "h4" src="{{ url_for('static', filename='images/4.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="harmony" value="5" onclick="change_harmony()">
                <img id = "h5" src="{{ url_for('static', filename='images/5.png') }}" weight= "40" height= "40">
            </label>
        </div>
        <div class="pro-question">
            <br>
            <h4>The rhythm is consistent and smooth.</h4>
            <label>
                <input type="radio" name="rhythm" value="1" onclick="change_rhythm()">
                <img id = "rh1" src="{{ url_for('static', filename='images/1.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="rhythm" value="2" onclick="change_rhythm()">
                <img id = "rh2" src="{{ url_for('static', filename='images/2.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="rhythm" value="3" onclick="change_rhythm()">
                <img id = "rh3" src="{{ url_for('static', filename='images/3.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="rhythm" value="4" onclick="change_rhythm()">
                <img id = "rh4" src="{{ url_for('static', filename='images/4.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="rhythm" value="5" onclick="change_rhythm()">
                <img id = "rh5" src="{{ url_for('static', filename='images/5.png') }}" weight= "40" height= "40">
            </label>
        </div>
        <div class="pro-question">
            <br>
            <h4>Can you identify the music genre of the piece?</h4>
            <label>
                <input type="radio" name="genre" value="1" onclick="change_genre()">
                <img id = "ge1" src="{{ url_for('static', filename='images/1.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="genre" value="2" onclick="change_genre()">
                <img id = "ge2" src="{{ url_for('static', filename='images/2.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="genre" value="3" onclick="change_genre()">
                <img id = "ge3" src="{{ url_for('static', filename='images/3.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="genre" value="4" onclick="change_genre()">
                <img id = "ge4" src="{{ url_for('static', filename='images/4.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="genre" value="5" onclick="change_genre()">
                <img id = "ge5" src="{{ url_for('static', filename='images/5.png') }}" weight= "40" height= "40">
            </label>
        </div>
        <div class="common-question">
            <br>
            <h4>Is this music composed by human or AI?</h4>
            <label>
                <input type="radio" name="creator" value="2" onclick="change_creator()">
                <img id = "human" src="{{ url_for('static', filename='images/human.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="creator" value="1" onclick="change_creator()">
                <img id = "ai" src="{{ url_for('static', filename='images/computer.png') }}" weight= "40" height= "40">
            </label>
            <br>
        </div>
        <div class="common-question">
            <br>
            <h4>Music Piece Overall Rating</h4>
            <label>
                <input type="radio" name="rating" value="1" onclick="change_rating()">
                <img id = "r1" src="{{ url_for('static', filename='images/1.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="rating" value="2" onclick="change_rating()">
                <img id = "r2" src="{{ url_for('static', filename='images/2.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="rating" value="3" onclick="change_rating()">
                <img id = "r3" src="{{ url_for('static', filename='images/3.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="rating" value="4" onclick="change_rating()">
                <img id = "r4" src="{{ url_for('static', filename='images/4.png') }}" weight= "40" height= "40">
            </label>
            <label>
                <input type="radio" name="rating" value="5" onclick="change_rating()">
                <img id = "r5" src="{{ url_for('static', filename='images/5.png') }}" weight= "40" height= "40">
            </label>
        </div>
        <br><br>
        <button id= "next" disabled type="button" class ='button btn btn-md' 
            onclick="insert()" style="color: black; background-color: white;" 
            title="Wait a bit to listen what the song has to tell &#013;or take your time to answer all the questions.">
            Next <span class="glyphicon glyphicon-menu-right"></span>
        </button>
        <br>
    </div>
    
    <div id = "content" style = "line-height: 0.9" >
        <br>
        <p>Our Project: <a href='https://github.com/aggelostais/piano-polyphonic-music-generation'target="_blank" rel="noopener noreferrer">
            Piano Polyphonic Music Generation</a></p>
        <p>Page Code: <a href='https://github.com/aggelostais/ai-music-generation-survey' target="_blank" rel="noopener noreferrer">Github</a></p>
    </div>

    </div>
    <div class="footer">
        <button id="help" class="btn btn-secondary btn-lg" onclick="help()">
            <span class="glyphicon glyphicon-info-sign"></span>
        </button>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <br>
                <!-- Modal Header -->
                <div class="modal-header">
                    <h3 class="modal-title text-center">Help us make our AI Piano Music even better!</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
        
                <!-- Modal body -->
                <div class="modal-body">
                    <h4>
                        <p>Welcome to our survey on Artificial Intelligence Piano Music! 
                            We are eager to have you on board as we embark on a journey 
                            to evaluate the capabilities of our music generation models.</p>
                        <p>By participating in this survey, you will be helping us to improve the 
                            quality of our AI-generated piano music. 
                            You will be listening to a variety of piano songs, some composed by humans 
                            and others generated by different AI models. 
                            Your task is to rate each one and provide valuable feedback. 
                            This will take only a few minutes of your time and will greatly contribute to our research.</p>
                        <p>Thank you in advance for your participation and support. 
                            Let's start the survey and help shape the future of AI-generated music.</p>
                        <br><br>
                    </h4>
                    <div style="text-align: center;">
                        <button type="button" class="btn btn-default" onclick = "start()">Next
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal2 -->
    <div class="modal fade" id="myModal2" style="overflow-y: auto;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <br>
                <!-- Modal Header -->
                <div class="modal-header">
                    <h3 class="modal-title text-center">Help us make our AI Piano Music even better!</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            
                <!-- Modal body -->
                <div class="modal-body">
                        <h4>
                            <p>Welcome to the next step of our journey, 
                                where we delve deeper into your musical expertise.
                                Allow us to ask you a few questions 
                                about your understanding of music concepts 
                                such as melody, harmony, and rhythm. </p>
                                <ul>
                                    <li>Have you ever played an instrument or studied at a music conservatory? 
                                        If you answered yes to any of these questions, please select the happy face icon.
                                    </li>
                                  </ul>
                            <div style="text-align: center;">
                            <label>
                                <input type="radio" id=basic-mus name="musician" value="basic" onclick="change_musician()">
                                <img id = "m1" src="{{ url_for('static', filename='images/1.png') }}" weight= "60" height= "60">
                            </label>
                            <label>
                                <input type="radio" id=pro-mus name="musician" value="pro" onclick="change_musician()">
                                <img id = "m5" src="{{ url_for('static', filename='images/5.png') }}" weight= "60" height= "60">
                            </label>
                            </div>
                            <br>
                            <ul>
                                <li> Now, let's test your ear for key signatures. 
                                    As you listen to the next piece of music, 
                                    take a moment to determine if it is written in a major or minor key.  
                                    If you're not sure, don't worry! Just give it your best guess.
                                </li>
                              </ul>
                            <div style="text-align: center;">
                            <button type="button" class = 'center-block' onclick = 'play_helper()'>
                                <img id = 'play_btn_minor' src="{{ url_for('static', filename='images/playb.png') }}" alt="Play Button"  height="30" width="30">
                            </button>
                            <br>
                                <input type="checkbox" id="Major" name="scale_check" value="major" style="text-align: center;">
                                <label for="Major">Major</label>
                                <input type="checkbox" id="Minor" name="scale_check" value="minor" style="text-align: center;">
                                <label for="Minor">Minor</label>
                            <br>
                            <h4 id = "red"> </h4>
                            <br>
                            <button type="button" class="btn btn-default" onclick = "next1()" style="text-align: center;">Next
                                <span class="glyphicon glyphicon-menu-right"></span>
                           </button>
                            </div>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal3 -->
    <div class="modal fade" id="myModal3" style="overflow-y: auto;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <br>
                <!-- Modal Header -->
                <div class="modal-header">
                    <h3 class="modal-title text-center">Help us make our AI Piano Music even better!</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
        
                <!-- Modal body -->
                <div class="modal-body">
                        <h4>
                            <p>You've reached the final stage on your journey through the main page, 
                                where you'll have the opportunity to immerse yourself 
                                in the world of AI-generated piano music
                                by listening to a selection of six captivating compositions. 
                                As you listen, we'll ask you a series of questions 
                                and request your opinion on various statements. 
                            </p>
                            <p>As you walk through the survey, 
                                your progress will be displayed at the top of the page. 
                                And, for added enjoyment, each composition 
                                will be seamlessly looped for repeated listening pleasure.
                            </p>
                            <p>So sit back, relax, and let the music take you on a 
                                journey of discovery as we work to evaluate and improve our AI models.
                            </p>
                        </h4>
                    <div style="text-align: center;">
                    <br>
                        <button type="button" class="btn btn-default" onclick = "last()">Start
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- The Modal4 -->
    <div class="modal fade" id="myModal4" style="overflow-y: auto;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <br>
                <!-- Modal Header -->
                <div class="modal-header">
                    <h2 class="modal-title text-center">Thank You!</h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
        
                <!-- Modal body -->
                <div class="modal-body">
                    <h4><p> Your input is music to our ears! 
                        We appreciate taking the time to participate in our survey. 
                        Your feedback  is vital to our research 
                        and will help us improve our models to make beautiful music together.
                        Thank you for your support and contribution.
                        </p>
                        <div>
                            <strong>Make an even greater impact</strong>
                            <ul>
                              <li>Click 'Continue' to rate more songs.</li>
                            </ul>
                          </div>
                          <div>
                            <strong>Leave the survey</strong>
                            <ul>
                              <li>Click 'Finish' to close the page.</li>
                            </ul>
                          </div>
                          <div>
                          <strong>More Information & Latest Updates</strong>
                            <ul>
                                <li>Our Project: <a href='https://github.com/aggelostais/piano-polyphonic-music-generation'target="_blank" rel="noopener noreferrer">
                                    Piano Polyphonic Music Generation</a></li>
                                <li>Page Code: <a href='https://github.com/aggelostais/ai-music-generation-survey' target="_blank" rel="noopener noreferrer">Github</a></li>
                            </ul>
                          </div>
                        <!-- If you have any comments on the survey or the project, please leave a comment below. -->
                    </h4>
                    <div style="text-align: center;">
                    <br>
                        <button type="button" class="btn btn-default" onclick = "window.open('','_self').close();">Finish
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button type="button" class="btn btn-default" onclick = "keep_on()">Continue
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <audio id = "melodies" controls loop style="display: none;">
        <source src="{{ url_for('static', filename='samples/minor.mp3')}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio> 
    <audio id = "minor" controls loop style="display: none;">
        <source src="{{ url_for('static', filename='samples/minor.mp3')}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio> 

    <script src='https://cldup.com/S6Ptkwu_qA.js'></script>
    <script src="{{ url_for('static', filename='js/particles.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vote.js') }}"></script>

<script>
    var creator = 0;
    var similar_music = 0;
    var emotions = 0;
    var melody = 0;
    var harmony = 0;
    var rating = 0;
    var rhythm = 0;
    var genre = 0;
    var files;
    var audio = document.getElementById('melodies');
    var img = document.getElementById('play_btn');
    var songs;
    var musician = 0;
    var scale_check=0;


    window.onload = function () {
        $('#myModal').modal('show');
        $('#myModal4').modal('hide'); 
        $("#next").prop('disabled', true); 
        $.ajax({
            data : {
                // network : $("input[name='model']:checked").val(),
            },
            url: "/get_melodies",
            type: "POST",
            success: function(resp){
                files = resp.files;
                songs = shuffle(files);
                $.ajax({
                    data : {
        	            'sample' : songs[0]
                    },
                    url: "/download_sample",
                    type: "POST",
                    async: false,
                    success: function(resp){
                        audio.src = resp.link;
                        songs.shift();
                    }
                });
            }
        });
    };

    // When Modal is hidden
    $('#myModal').on('hidden.bs.modal', function () {
        $('#myModal2').modal('show'); 
    })

    // When Modal2 is hidden
    $('#myModal2').on('hidden.bs.modal', function () {
        var audio = document.getElementById('minor');
        // If the song is playing pause it
        if(!audio.paused){
            play_helper();}
        // If any of the 2 questions has not been answered
        if (musician == 0 || scale_check==0) {
            $("#red").css("color","#8d0c0c");
            $('#red').text("Just another small step and off we go!")
            $('#myModal2').modal('show'); 
        }
        else{
            $('#myModal3').modal('show');
        }
    })
    
    // Checkbox force check one
    $('input[type="checkbox"]').on('change', function() {
        $('input[type="checkbox"]').not(this).prop('checked', false);
    });

    $('input[type="checkbox"]').click(function(e) { 
      var checkbox = $(this);
      if (checkbox.is(":checked")) {
       //check it 
      } else {
       // prevent from being unchecked
        this.checked=!this.checked;
      }
   });

    function start(){        
        $('#myModal').modal('hide');
        $('#myModal2').modal('show');
    }

    function next1(){
        $('#myModal2').modal('hide');
        check_musician();
        if(musician!=0 && scale_check!=0){
            $('#myModal3').modal('show');
        }
    }

    function last(){
        $('#myModal3').modal('hide');
        // For basic user hide pro questions
        if(musician=='basic'){
            var x = document.getElementsByClassName("pro-question");
            var i;
            for (i = 0; i < x.length; i++) {
                x[i].style.display = 'none';
            }
        }
        else{
            // For pro user hide basic question
            document.getElementById("basic-question").style.display = "none";
        }
    }

    function keep_on(){
        $('#myModal4').modal('hide');
        setTimeout(function (){
					playbtn();
				}, 200);
    }
    
    // Help Button
    function help(){
        $('#myModal').modal('show'); 
        // Load the right musician picture based on music knowledge
        if (musician == "basic"){
            document.getElementById('m1').src = 'static/images/1b.png';
            document.getElementById('m5').src = 'static/images/5.png';
        }
        else {
            document.getElementById('m1').src = 'static/images/1.png';
            document.getElementById('m5').src = 'static/images/5b.png';
        }
    }
    
    // Play major or minor scale test song
    function play_helper(){
        var img = document.getElementById('play_btn_minor');
        var audio = document.getElementById('minor');

        if (audio.duration > 0 && !audio.paused){
            img.src = "static/images/playb.png";
            audio.pause();
        }else{
            img.src = "static/images/pauseb.png";
            audio.play();
        }
    }
</script>
</body>
</html>
